<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/assets/css/jquery-approach.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Rokkitt|Carrois+Gothic+SC|Bungee+Hairline|Dorsa" rel="stylesheet">
	<title>Dream App</title>
	</head>

	<body>
		{{{ body }}}
		<div id="container"></div>
	</body>

	</html>
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<script src="/assets/build/three.js"></script>
	<script src="/assets/js/controls/FirstPersonControls.js"></script>
	<script src="/assets/js/Detector.js"></script>
	<script src="/assets/js/libs/stats.min.js"></script>
	<script src="/assets/js/wave3D.js"></script>
	<script type="text/javascript" src="/assets/js/libs/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.approach.min.js"></script>
	<script type="text/javascript" src="/assets/js/dreams.js"></script>
